.body {
  font-family: monospace;
}

.content {
  width: 960px;
  margin: 0 auto;
  padding: 30px;
}

header {
  position: relative;
  padding: 6px 12px;
  height: 36px;
  background-color: rgb(96, 181, 204);
  text-align: center;
}

h1 {
  color: white;
  font-weight: 200;
  margin: 0;
}

a {
  color: rgb(96, 181, 204);
  text-decoration: none;
  cursor: pointer;
  font-family: monospace;
}

a:hover {
  text-decoration: underline;
}

input {
  font-size: 25px;
  width: -webkit-fill-available;
  padding: 7px 15px 7px 15px;
}

.error {
  background-color: #FF9632;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: monospace;
  font-size: 18px;
}

.emoji {
  font-size: 55px;
  margin-top: 0px;
}

.tagline {
  margin-top: 35px;
  text-align: center;
  height: 250px;
}

.main-content {
  margin-left: 25%;
  margin-right: 25%;
}

.infoboks {
  margin-top: 25px;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: monospace;
  font-size: 16px;
}

.feilmelding {
  background-color: #FF9632;
}

.feedback {

}

.lesMerTekst {
  text-align: left;
  font-family: monospace;
  font-size: 16px;
}

.tagline-tekst {
  height: 150px;
  font-size: 18px;
}

.stage-info {
  float: right;
  margin-bottom: 5px;
}
